
.btn{
    width: 60px;
    background-color: white;
    margin: 5px;
    padding: 10px; 
} 



.btn:hover{
    color: white;
    background-color: rgba(8, 3, 47, 0.655);
}

.ac{
    width:calc(3*60px + 4*5px );
} 

.igual{
    width: calc(2*60px + 2*5px);
}

.fundo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, black,black,blue);
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, black);
} 

.calculadora{
    padding: 25px;
    margin: auto auto;
    border-radius: 25px;
    background: linear-gradient(45deg, black,red,blue,pink);
    background-size: 400% 400%;
    animation: cor 5s ease infinite;
} 



@keyframes cor { 
    0%{
        background-position: 0% 50%;
    }
   50%{ background-position: 100% 50%;
   } 
   100%{
    background-position: 0% 50%;
   }
}

.display{ 
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
    padding: 20px;
    text-align:right;
    line-height: 10px;
} 

.space{
    margin: 5px;
} 

.relogio{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    color: #fff;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}


